<ul class="main">
  <li class="main__list" *ngFor="let item of items; let i= index">
    <div class="list__head">
      <i class="material-icons date">date_range</i>
      <input type="text" class="head__input" disabled value="{{item.title}}">
      <i class="material-icons rewrite">create</i>
      <i class="material-icons delete" (click)="onRemove(item)">delete</i>
    </div>
      <todo-items-form [item]="item" [items]="items"></todo-items-form>
    <ul class="list__todos">
      <todo-task [item]="item"></todo-task>
    </ul>
  </li>
</ul>