.main__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
}
.list__head{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: .45em .3em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#416ce2+0,429ee5+100 */
  background: #416ce2; /* Old browsers */
  background: -moz-linear-gradient(top,  #416ce2 0%, #429ee5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #416ce2 0%,#429ee5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #416ce2 0%,#429ee5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#416ce2', endColorstr='#429ee5',GradientType=0 ); 
  color: white;
}
.head__input{
  border: none;
  background: transparent;
  font-size: 1.2em;
  color: white;
  font-weight: 400;
  flex: 1;
}
.material-icons{
  cursor: pointer;
  font-size: 1.3em;
  transition: all .4s ease;
}
.rewrite, .delete{
  color: lightgray;
}
.material-icons:hover{
  color: white;
}
.date{
  color: rgb(71, 72, 73);
}
.date:hover{
  color: gray;
}
.list__form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  background: lightgray;
  padding: .15em .2em .15em 0;
}
.list__form .material-icons{
  color: forestgreen;
  font-weight: bold;
  font-size: 2em;
  cursor: default;
  width: 5%;
}
.list__form .form__input{
  font-size: 1em;
  padding: 0.1em .2em;
  /*flex: 1;*/
  width: 80%;
  border: 1px solid white;
}
.list__form .form__submit{
  font-size: 1em;
  padding: .1em .4em;
  border-radius: 0 .3em .3em 0;
  background: #359942;
  border: 1px solid green;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 15%;
  transition: all .25s ease;
}
.list__form .form__submit:focus,.list__form .form__submit:hover{
  outline: none;
  background: #44c455;
}


/*Task List*/
.list__todo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.todos__task{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  /*padding: .25em 0;*/
  background: white;
  border: 1px solid lightgray;
  border-top: none;
}
.todos__task:last-child{
  border-radius: 0 0 .5em .5em;
}
.todos__task .checkbox{
  font-size: 1em;
  align-self: center;
  width: 5%;
  text-align: center;
  color: gray;
  
}
.todos__task .checkbox:hover{
  color: gray;
}
.task__title{
  /*flex: 1;*/
  width: 79.5%;
  background: transparent;
  border: none;
  padding: .3em 0 .3em .2em;
  border-left: 1px solid pink;
}
.done{
  text-decoration: line-through;
}
.task__interaction{
  width: 15.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid lightgray;
}
.task__interaction > *{
  font-size: 1.2em;
  color: rgb(71, 72, 73);
  transition: all .25s ease;
}
.task__interaction > *:hover{
  color: gray;
}
.task__interaction > *:first-child{
  border-right: 1px solid lightgray;
  margin-left: 15%;
}
.task__interaction > *:last-child{
  border-left: 1px solid lightgray;
  margin-right: 15%;
}