.list__todo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.todos__task{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  /*padding: .25em 0;*/
  background: white;
  border: 1px solid lightgray;
  border-top: none;
}
.todos__task:last-child{
  border-radius: 0 0 .5em .5em;
}
.todos__task .checkbox{
  font-size: 1em;
  align-self: center;
  width: 5%;
  text-align: center;
  color: gray;
  
}
.todos__task .checkbox:hover{
  color: gray;
}
.task__title{
  /*flex: 1;*/
  width: 79.5%;
  background: transparent;
  border: none;
  padding: .3em 0 .3em .2em;
  border-left: 1px solid pink;
}
.done{
  text-decoration: line-through;
}
.task__interaction{
  width: 15.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid lightgray;
}
.task__interaction > *{
  font-size: 1.2em;
  color: rgb(71, 72, 73);
  transition: all .25s ease;
}
.task__interaction > *:hover{
  color: gray;
}
.task__interaction > *:first-child{
  border-right: 1px solid lightgray;
  margin-left: 15%;
}
.task__interaction > *:last-child{
  border-left: 1px solid lightgray;
  margin-right: 15%;
}